{# template-title: 悬赏排行榜 #}
{# template-components: data-table #}


<div class="container data-page">
    <h1>{{ name }}</h1>
    <div class="data-page__meta">{{ server }}{% if update_time %} · 更新时间：{{ update_time }}{% endif %}</div>

    <table class="data-table">
        <thead>
            <tr>
                <th>排名</th>
                <th>名称</th>
                <th>帮会</th>
                <th>门派</th>
                <th>阵营</th>
                <th>抓捕数</th>
                {% if show_hostile_count %}<th>敌对数</th>{% endif %}
            </tr>
        </thead>

        <tbody>
        {% for item in items %}
            <tr>
                <td class="data-cell--rank">{{ loop.index }}</td>
                <td class="data-cell--name data-cell--nowrap">{{ item.name }}</td>
                <td class="data-cell--wrap">{{ item.tongName }}</td>
                <td>
                    <div class="icon-label">
                        {% if icons.sect.get(item.forceName) %}
                        <img class="icon-label__icon" src="{{ icons.sect[item.forceName] }}" alt="{{ item.forceName }}">
                        {% endif %}
                        <span>{{ item.forceName }}</span>
                    </div>
                </td>
                {% set camp_name = item.campName or '未知' %}
                <td class="data-cell--camp data-cell--nowrap">
                    <img class="data-camp-icon" src="{{ icons.img.get(camp_name) or icons.img.get('未知') }}" alt="{{ camp_name }}" title="{{ camp_name }}">
                </td>
                <td class="data-cell--score">{{ item.score }}</td>
                {% if show_hostile_count %}<td class="data-cell--nowrap data-cell--numeric">{{ item.customValue0 }}</td>{% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
