{# template-title: 的卢记录 #}
{# template-components: data-table #}


<div class="container data-page">
    <h1>的卢记录</h1>

    <table class="data-table data-table--spaced">
        <thead>
            <tr>
                <th>服务器</th>
                <th>开始时间</th>
                <th>捕获时间</th>
                <th>捕获人</th>
                <th>所属阵营</th>
                <th>拍卖时间</th>
                <th>拍卖价格</th>
                <th>拍得者</th>
                <th>所属阵营</th>
            </tr>
        </thead>

        <tbody>
        {% for m in list %}
            <tr
                {% if m.captureCampName == '浩气盟' %}
                    class="camp-haoqi"
                {% elif m.captureCampName == '恶人谷' %}
                    class="camp-eren"
                {% endif %}
            >
                <td>{{ m.server }}</td>
                <td>{{ m.refreshTime }}</td>
                <td>{{ m.captureTime }}</td>
                <td>{{ m.captureRoleName }}</td>
                {% set capture_camp_name = m.captureCampName or '未知' %}
                <td class="data-cell--camp data-cell--nowrap">
                    <img class="data-camp-icon" src="{{ icons.img.get(capture_camp_name) or icons.img.get('未知') }}" alt="{{ capture_camp_name }}" title="{{ capture_camp_name }}">
                </td>
                <td>{{ m.auctionTime }}</td>
                <td>{{ m.auctionAmount }}</td>
                <td>{{ m.auctionRoleName }}</td>
                {% set auction_camp_name = m.auctionCampName or '未知' %}
                <td class="data-cell--camp data-cell--nowrap">
                    <img class="data-camp-icon" src="{{ icons.img.get(auction_camp_name) or icons.img.get('未知') }}" alt="{{ auction_camp_name }}" title="{{ auction_camp_name }}">
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

</div>
