{# template-title: 关隘首领 #}
{# template-components: data-table #}


<div class="container data-page">
    <h1>关隘首领</h1>
    <div class="data-page__meta">更新时间：{{ update_time }}</div>

    {% for group in groups %}
    <div class="data-section">
        <div class="data-section__title">{{ group.server }}</div>
        <table class="data-table">
            <thead>
                <tr>
                    <th>归属</th>
                    <th>关隘名称</th>
                    <th>状态</th>
                    <th>开始时间</th>
                    <th>结束时间</th>
                    <th>剩余时间</th>
                </tr>
            </thead>

            <tbody>
            {% for item in group.records %}
                <tr
                    {% if item.camp_name == '恶人谷' %}
                        class="camp-eren"
                    {% elif item.camp_name == '浩气盟' %}
                        class="camp-haoqi"
                    {% endif %}
                >
                    <td class="data-cell--camp data-cell--nowrap data-cell--strong">{{ item.camp_name }}</td>
                    <td class="data-cell--camp data-cell--name data-cell--nowrap">{{ item.castle }}</td>
                    <td class="data-cell--nowrap data-cell--strong">{{ item.str_status }}</td>
                    <td class="data-cell--time">{{ item.start_time }}</td>
                    <td class="data-cell--time">{{ item.end_time }}</td>
                    <td class="data-cell--time data-cell--accent">{{ item.remaining_time }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% endfor %}
</div>
