{# template-title: 竞技排行榜 #}
{# template-components: data-table #}


<div class="container data-page">
    <h1>名剑排行榜</h1>

    <table class="data-table data-table--spaced">
        <thead>
            <tr>
                <th>排名</th>
                <th>头像</th>
                <th>角色</th>
                <th>门派</th>
                <th>分数</th>
                <th>胜率</th>
            </tr>
        </thead>

        <tbody>
        {% for m in lists %}
            <tr>
                <td class="data-cell--rank
                    {% if m.rankNum == '1' %}rank-1{% endif %}
                    {% if m.rankNum == '2' %}rank-2{% endif %}
                    {% if m.rankNum == '3' %}rank-3{% endif %}
                ">
                    {{ m.rankNum }}
                </td>

                <td>
                    <img class="data-avatar" src="{{ m.avatarUrl }}">
                </td>

                <td>{{ m.roleName }}</td>

                <td>
                    <div class="icon-label">
                        {% if icons.sect.get(m.forceName) %}
                        <img class="icon-label__icon" src="{{ icons.sect[m.forceName] }}" alt="{{ m.forceName }}">
                        {% endif %}
                        <span>{{ m.forceName }}</span>
                    </div>
                </td>

                <td>{{ m.matchScore }}</td>

                <td class="winrate data-cell--numeric">{{ m.winRate }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

</div>
