{# template-title: 帮会榜单 #}
{# template-components: data-table #}


<div class="container data-page">
    <h1>{{ rank_name }}</h1>
    <div class="data-page__meta">{{ server }} · 更新时间：{{ update_time }}</div>

    <table class="data-table">
        <thead>
            <tr>
                <th>排名</th>
                <th>帮会名称</th>
                <th>帮主</th>
                <th>排行积分</th>
            </tr>
        </thead>

        <tbody>
        {% for item in items %}
            <tr>
                <td class="data-cell--rank">{{ loop.index }}</td>
                <td class="data-cell--name data-cell--wrap">{{ item.tongName }}</td>
                <td class="data-cell--name data-cell--wrap">{{ item.masterName }}</td>
                <td class="data-cell--score">{{ item.key }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
