{# template-title: 阵营事件 #}
{# template-components: data-table #}


<div class="container data-page">
    <h1>阵营事件</h1>
    <div class="data-page__meta">更新时间：{{ update_time }}</div>

    <table class="data-table data-table--camp-tinted">
        <thead>
            <tr>
                <th>阵营</th>
                <th>分线</th>
                <th>服务器</th>
                <th>角色名称</th>
                <th>时间</th>
            </tr>
        </thead>

        <tbody>
        {% for item in items %}
            <tr
                {% if item.campName == '恶人谷' %}
                    class="camp-eren"
                {% elif item.campName == '浩气盟' %}
                    class="camp-haoqi"
                {% endif %}
            >
                {% set camp_name = item.campName or '未知' %}
                <td class="data-cell--camp data-cell--nowrap">
                    <img class="data-camp-icon" src="{{ icons.img.get(camp_name) or icons.img.get('未知') }}" alt="{{ camp_name }}" title="{{ camp_name }}">
                </td>
                <td class="data-cell--nowrap data-cell--strong">{{ item.fenxianName }}</td>
                <td class="data-cell--nowrap data-cell--strong">{{ item.friendName }}</td>
                <td class="data-cell--name data-cell--copy">{{ item.roleName }}</td>
                <td class="data-cell--time">{{ item.seizeTime }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
