{# template-title: 阵营拍卖 #}
{# template-components: data-table #}


<div class="container data-page">
    <h1>阵营拍卖</h1>

    <table class="data-table data-table--spaced">
        <thead>
            <tr>
                <th>服务器</th>
                <th>物品名称</th>
                <th>拍得者</th>
                <th>所属阵营</th>
                <th>拍卖价格</th>
                <th>拍卖时间</th>
            </tr>
        </thead>

        <tbody>
        {% for m in list %}
            <tr
                {% if m.campName == '浩气盟' %}
                    class="camp-haoqi"
                {% elif m.campName == '恶人谷' %}
                    class="camp-eren"
                {% endif %}
            >
                <td>{{ m.server }}</td>
                <td>{{ m.itemName }}</td>
                <td>{{ m.roleName }}</td>
                {% set camp_name = m.campName or '未知' %}
                <td class="data-cell--camp data-cell--nowrap">
                    <img class="data-camp-icon" src="{{ icons.img.get(camp_name) or icons.img.get('未知') }}" alt="{{ camp_name }}" title="{{ camp_name }}">
                </td>
                <td>{{ m.itemAmount }}</td>
                <td>{{ m.time }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

</div>
